<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Teleframe</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body class='bg-black'>
    <main role="main" class="container">
      <img id="img" class="max-w-full max-h-full fixed inset-0 overflow-auto m-auto" />

      <script type = "text/javascript">
        function displayNextImage() {
          x = (x === images.length - 1) ? 0 : x + 1;
          document.getElementById("img").src = images[x];
        }

        function displayPreviousImage() {
          x = (x <= 0) ? images.length - 1 : x - 1;
          document.getElementById("img").src = images[x];
        }

        function startTimer() {
          displayNextImage();
          setInterval(displayNextImage, 180000);
        }

        var images = [], x = -1;
        <% Array(@photos).each_with_index do |photo, index| %>
          images[<%= index %>] = "<%= photo.image.url %>";
        <% end %>

        startTimer();
      </script>
    </main>
  </body>
</html>
